
/* вся шапка */
.header {
    color: #000;
    background-color:#fff;
    width: 1052px;
    height: 105px;
    margin-top: 92px;
    margin-left: 24px;
    margin-right: 24px;
    display:grid;
    grid-template-columns: repeat(3, 454px 150px 450px);


}

/* контейнер навигации */
.header_menu {
    width: 454px;
    height: 22px;
    top: 44px;
    padding-top: 44px;
    padding-bottom: 39px;
    display: flex;
    flex-wrap: nowrap;

}
/* список ссылок */
.header_links-list {
    display:flex;
    flex-direction:row;
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    column-gap: 30px;
    padding-left: 24px;

    

}
/* пункты списка ссылок сами ссылки с пустым кружочком */
.header_links-list-item {
    list-style:circle;

}
/* пункты списка ссылок без кружочка */
.header_links-list-item-no-bullit {
    list-style:none;


}
/* ссылка подчеркнутая*/
.header_link {
    text-decoration: underline;
    text-decoration-skip-ink: none;

}
/* активная ссылка не подчеркнутая*/
.header_link-active {
    text-decoration: none;

}
/* контейнер логотипа */
.header_logo {
    display:flex;
    justify-content:center;


}
/* картинка с логотипом */
.header_logo-image {
    width: 148px;
    height: 105px;

}
/* контейнер с адресом */
.address {
    width: 450px;
    height: 24px;
    left: 786.52px;
    top: 5px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400px;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.01em;
    color: #000000;
    text-underline-position:under;
    text-underline-offset: 1px;
    padding-left: 184px;
    padding-right: 25.48px;
    padding-top: 7px;

}
/* для выравнивания блока с адресом */
.header_address {
    display: flex;
    flex-direction: column;
    gap: 1px;

}
/* вся секция */
.cover {

    width: 1100px;
    height:757px;
    margin-top: 96px;
    position: relative;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size: cover;
    z-index: 0;

}

/* полупрозрачный блок поверх секции */
.overlay {

    background-color:rgba(0, 0, 0, 0.6);
    inset: 0;
    position:absolute;
    z-index: -1;
       
}

/* заголовок */
.cover__title {
    top: 165px;
    position: relative;
    width: 1100px;
    z-index: 1;
    font-size: 100px;
    font-weight: 700px;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-style: normal;

}

/* классы для выравнивания строк текста и превращения их в блочный элемент */
.aligned-text {
    display: block;
    padding-bottom: 20px;
    letter-spacing: 0.23em;
    gap: 20px;

}
.aligned-text_left {
    text-align: left;
    line-height: 115px;
    padding-left: 50px;
   

}
.aligned-text_center {

    text-align: center;
    line-height: 100px;
   

}

.aligned-text_right {
    text-align: right;
    line-height: 100px;
    padding-right: 50px;
    

}

/* класс для управления межбуквенным расстоянием в местах, где есть эти акцент */
.letter-spacing-extended {
    letter-spacing: 0.23em;
    

}
 /* класс для обнуления общего межбуквенного расстояния для последней буквы */
.no-letter-spacing {
    letter-spacing: 0px;
    

}
/* контейнер для подзаголовка и кнопки */
.cover__description {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    position: relative;
    font-family: 'Raleway';
    font-style: normal;
    color: #fff;
    text-transform: uppercase;
    letter-spacing:0.15em;
    font-size: 22px;
    padding-top: 300px;
    padding-right: 50px;

}

/* текст подзаголовка */
.cover__description-text {
    padding-left: 76px;
    padding-top: 10px;
    letter-spacing:0.1em;
    word-spacing:10px;

}
 /* кнопка «Сделать ставку» */
.bet-button {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    width: 256px;
    height: 51px;
    line-height: 26px;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    text-transform: uppercase;
    gap: 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    border-style: solid;

}
/* вся секция с лотами */
.lots {
    position: relative;
    margin-top: 179px;
    width: 1052px;
    z-index: 0;
    margin-left: 24px;

}
/* заголовок секции */
.lots__heading {
    margin-left: 40px;
    width: 121px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
    color: #000000;


}
/* списиок лотов */
.lots__card-list {
    padding-top: 27px;
    gap:25px;
    list-style-type:none;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    


}
/* пункт списка лотов */
.lots__card-list-item {
    flex-grow: 1;
    width: 334px;
    height: 563px;
    gap:25px;
    list-style-type:none;
    color: #FFFFFF;


}
/* ссылка, обрамляющая карточку */
.card-link {
    text-decoration: none;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 51px;
    padding-bottom: 48px;
    height: 100%;
  
}
/* карточка */
.card {
    width: 334px;
    height: 100%;

}
/* классы, чтобы задать определённый фон каждой из карточек */
.card_type_film {
    position: relative;
    z-index: 0;
    background-image: url(../images/card-lot-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.card_type_book {
    position: relative;
    z-index: 0;
    background-image: url(../images/card-lot-02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.card_type_picture {
    position: relative;
    z-index: 0;
    background-image: url(../images/card-lot-03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
/* заголовок карточки */
.card__title {
    width: 254px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-decoration-line: underline;
    text-transform: uppercase;
    z-index: 1;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    order: 0;

}
/* текст карточки */
.card__text {
    width: 254px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #FFFFFF;
    z-index: 1;
    text-decoration: none;
    order: 1;
}
/* ссылка «Посмотреть больше» */
.lots__look-more-link {
    position: relative;
    width: 192px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    padding-top: 30px;
}

.about {

}

.about__column {

}

.about__logo {

}

.about__logo-image {

}

.about__title {

}

.about__text {
    
}